<%= notice %>

<div class="card-desk" style="width: 100rem;">
 <p class="card-title "><img src=<%= @retweet.user.image_url%> class='img-thumbnail-2'><%= @retweet.user.name  %><h4 class="retweet">Retwitteaste</h4><hr></p>
  

  <div class="card" style="width: 100rem;">
    <div class="card-body">
      <h5 class="card-title"><img src=<%= @retweet.tweet.user.image_url%> class='img-thumbnail-2'><%= @retweet.tweet.user.name%></p><p class="detail"> <%= distance_of_time_in_words(Time.now - @retweet.tweet.created_at)%> <%= link_to 'detalle', @tweet, class:"btn btn-link"%> </p> 
    
      <p class="card-text"><%= @retweet.tweet.content %></p><hr>
      
  </div>

  <p class="card-text text-muted"><%= @tweet.likes.count%><%= (@tweet.likes.count) == 1 ? ' Like ' : ' Likes '%><i class="fas fa-heart"></i>  <%= @tweet.retweets.count%><%= (@tweet.retweets.count) == 1 ? ' Retweet ' : ' Retweets '%><i class="fas fa-retweet"></i></p>


  <%= link_to 'Volver', tweets_path %>
</div>