<h2 class="search">Búsqueda Hastags</h2><br>
<% @tweets.each do |tweet| %>

  <div class="card text-center twitter">
   <p class="date">Created <%= distance_of_time_in_words(Time.now - tweet.created_at)%> ago</p>
    <div class="twitter-head">
        <%= image_tag "#{tweet.image_avatar}", style: 'height:85px;width:90px;', class:'picture'%>
        <h5 class="card-title">Tweet de <%=tweet.user.name%> </h5>
    </div>
    <div class="card-body twitter-creator" >
      <h4 class="card-text mb-2"><%= safe_join(tweet.content.split(" ").map {|a| a[0] == "#" ?  link_to(a, search_path(q: a)) : a }," ".html_safe) %></h4>
    </div>
    <div class="boton">
       <p class="card-text text-muted"><%= tweet.likes.count %><%= (tweet.likes.count) == 1 ? ' Like ' : ' Likes '%><i class="fas fa-heart"></i>
        <%= tweet.retweets.count %><%= (tweet.retweets.count) == 1 ? ' Retweet ' : ' Retweets '%><i class="fas fa-retweet"></i>
      </p>
      <% if user_signed_in? %>
        <%= link_to 'Retweet', tweet_retweets_path(tweet), method: :post, class:"btn btn-primary"  %>
        <%= link_to 'Mostrar', tweet , class:"btn btn-info mx-4"%>
        <% if tweet.user_id == current_user.id%>
          <%= link_to 'Eliminar', @tweet, method: :delete, data: { confirm: 'Are you sure?' },  class:'btn btn-danger' %>
        <%end%>
      <%end%>
    </div>
    <hr class="green">
  </div>
<% end%>