
<% if user_signed_in? %>

  <%= search_form_for @q, url: root_path, method: "get"  do |f| %>
     <div class="container">
       <div class="form-group">
          <%= f.label :content_cont, "Buscador" %>
          <%= f.search_field :content_cont %>
           <%= f.submit "Buscar", class: "btn btn-primary " %>
        </div>
      </div>   
  <% end %>

  <% @tweets.each_with_index do |tweet, index| %>
    <div class="" style="width: 35rem;">  
          <h5 class="card-title">Tweet <%= index + 1 %></h5><p>Created <%= distance_of_time_in_words(Time.now - tweet.created_at)%> ago</p>
        <%= image_tag "#{tweet.image_avatar}", style: 'height:90px;width:90px'%>
        <div class="card-body" style="width: 105rem;">
          <h4 class="card-text mb-2">Contenido:<br></h4><%= tweet.content %>
          <p class="card-text text-muted"><%= tweet.likes.count %><%= (tweet.likes.count) == 1 ? ' Like ' : ' Likes '%><i class="fas fa-heart"></i></p>
          <p class="card-text text-muted"><%= tweet.retweets.count %><%= (tweet.retweets.count) == 1 ? ' Retweet ' : ' Retweets '%><i class="fas fa-retweet"></i></p>
         <div class="container-fluid">
          <% if user_signed_in? %>
            <%= button_to 'Retweet', tweet_retweets_path(tweet), method: :post, class:"btn btn.primary"  %>
            <%= link_to 'Mostrar', tweet , class:"btn btn-success" %>
          <%end%>
        </div>
      
          <!--<a><%= link_to 'Edit', edit_tweet_path(tweet) %></a>
          <a><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></a>-->
        </div>
    </div>
    <hr class="green">
  <% end%>
  
<% end%>
 <%= paginate @tweets %>